{% extends 'base.html.twig' %}

{% block title %}Edit AircraftDetails{% endblock %}

{% block body %}
    <h1>Edit AircraftDetails</h1>

    {{ include('aircraft_details/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_aircraft_details_index') }}">back to list</a>

    {{ include('aircraft_details/_delete_form.html.twig') }}
{% endblock %}
